page {
    background: #fff;
    display: block;
    margin: 0 auto;
    margin-bottom: 5mm;
    box-shadow: 0 0 5mm rgba(0, 0, 0, 0.5);
    overflow: hidden;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

page[margin], page[margin="standard"] {
    padding: 25mm;
}

page[margin="thin"] {
    padding: 12.7mm;
}

page[margin="thick"] {
    padding: 25.4mm 50.8mm;
}

@media print {
    body, page {
        -webkit-print-color-adjust: exact !important;
        print-color-adjust: exact !important;
        box-shadow: none;
        margin: 0;
    }
    @page {
        margin: 0;
    }
    body {
        background: none;
    }
}

page[size="A4"], page[size="a4"] {
    width: 210mm;
    height: 297mm;
}

page[size="A4"][layout="landscape"], page[size="a4"][layout="landscape"] {
    width: 297mm;
    height: 210mm;
}